#container-emailform {
    background-color: black;
    padding: 18px 15px;
    border-radius: 4px;
    border: 2px solid #75e3da;
    min-height: 350px;
}
    .emailform-input {
        display: block;
        margin-top: 10px;
        margin-bottom: 5px;
        border: 0;
        border-bottom: 2px solid white;
        outline: 0;
        color: white;
        background: transparent;
        transition: border-color 0.2s;
        padding: 7px 0px 5px 8px;
        font-size: .9rem;
        width: 50%;
    }
    .emailform-input::placeholder {
        color: transparent;
    }
    .emailform-input:placeholder-shown + .emailform-label {
        cursor: text;
        top: -28px;
    }
    #emailform-input-textarea:placeholder-shown + #emailform-label-textarea {
        cursor: text;
        top: -28px;
    }
    .emailform-label, #emailform-label-textarea {
        position: relative;
        top: -58px;
        display: block;
        transition: .2s;
        color: white;
        padding-left: 8px;
    }
    #emailform-label-textarea {
        top: -123px;
    }
    .emailform-input:focus,
    #emailform-input-textarea:focus {
        padding-bottom: 8px;  
        font-weight: 700;
        border-width: 3px;
        border-image: linear-gradient(to right, #75e3da,#38ef7d);
        border-image-slice: 1;
    }
    .emailform-input:focus + .emailform-label,
    .emailform-input:focus + #emailform-label-textarea {
        position: relative;
        top: -58px;
        display: block;
        transition: .2s;
        color: #75e3da;
    }
    #emailform-input-textarea:focus + #emailform-label-textarea {
        top: -123px;
    }
    #emailform-input-textarea {
        height: 80px;
        width: 90%;
        resize: none;
    }
    .emailform-input-required {
        visibility: hidden;
    }
    #emailform-btn-submit,
    #container-emailform-submitted button {
        background-color: #75e3da;
        border: 0;
        border-radius: 4px;
        height: 20px;
        width: 55px;
        margin-left: 8px;
    }

#container-emailform-submitted {
    /* border: 2px solid white; */
    text-align: center;
}
    #container-emailform-submitted p {
        color: white;
        margin-bottom: 15%;
        font-size: 1.2rem;
        color: #75e3da
    }
    #container-emailform-submitted button {
        width: 120px;
        height: 40px;
    }