#container-footer {
    background: #708090;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8%;
    justify-content: space-around;
    padding-bottom: 10px;
    min-height: 200px;
}
    #container-footer-email {
        width: 45%;
        margin-top: -6%;
    }

#container-footer-contact {
    display: flex;
    align-items: center;
    flex-direction: column;
}
    #container-footer-contact h2 {
        color: white;
        margin-top: -28%;
        margin-bottom: 15%;
        font-family: 'Andika', sans-serif;
        src: url(../../assets/fonts/Andika-Regular.ttf) format('ttf');
        font-size: 2rem;
    }
    #container-footer-links {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 10%;
        width: 100%;
        justify-content: space-around;
    }
        #container-contact-info {
            display: flex;
            flex-direction: column;
        }
            #container-contact-info div {
                margin: 10px 0px 10px 0px;
                display: flex;
            }
            .footer-icon {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
        #container-footer-socials {
            display: flex;
            flex-direction: row;
        }
            .footer-icon-social {
                width: 45px;
                height: 45px;
                margin-right: 20px;
            }
            #footer-icon-lastsocial {
                margin-right: 0;
            }
            .footer-social-link {
                margin: 0;
            }
            .footer-social-link:hover {
                border: 0;
            }

p, span {
    font-family: 'Roboto Condensed', sans-serif;
    src: url(../../assets/fonts/RobotoCondensed-Regular.ttf) format('ttf');
    color: black;
}